<h3> Listamos de Proyectos</h3>


<ol>
    <!--<li *ngIf="$first"> sasss</li>-->
    <li *ngFor="let item of proyectos"  (click) = "proyectoDetalle(item)"> 
      <input type="number" style="margin-right: 10px; width:60;" value={{item.id}}> {{item.nombre}}
    </li>
</ol>

 <input type="button" value="Guardar">
<br>
  <input type="button" value="Guardar">
 <br>
   <input type="button" value="Guardar"><br>
    <input type="button" value="Guardar"><br>
     <input type="button" value="Guardar"><br>