<!--<h3 class="Text-Info hidden-sm"> Sistema para la Gestion de Proyectos</h3>-->
<!--<img alt="Sistema para la Gestion de Proyectos">-->
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
  <a class="navbar-brand" [routerLink]="['/inicio']">  Gestión de Proyectos INER  </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li role="presentation"><a [routerLink]="['/inicio']">Inicio</a></li>
        <li role="presentation"><a [routerLink]="['/nuevo-proyecto']">Nuevo Proyecto</a></li>
        <li role="presentation"><a [routerLink]="['/proyectos']">Proyectos</a></li>
        <li role="presentation"><a [routerLink]="['/definir-campos']">Definir Campos</a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href=""><!--<span class="glyphicon glyphicon-log-in"></span>--> Login</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- dropdown directive marks a dropdown root element -->
<div dropdown>
  <!-- click on dropdown-toggle toggles dropdown state, optional -->
  <div dropdownToggle></div>
  <!-- dropdown-menu holds content which will be shown -->
  <div dropdownMenu>
    <!-- this content will be shown if dropdown opened -->
  </div>
</div>
<!--<main class="container" style="margin-top: 10em">-->
<!--<main class="container" style="padding-top: 60px;">-->
<main class="container" style="padding-top: 80px;">
  
  <router-outlet></router-outlet>
</main>