
<div class="pull-right">
  <img src="app/img/logoiner.png" class="img-rounded" title="Instituto Nacional de Eficiencia Energética y Energías Renovables (INER)" alt="Instituto Nacional de Eficiencia Energética y Energías Renovables (INER)">
</div>
<h2 class="text-primary"> Bienvenidos al sistema para la postulación de proyectos del INER</h2>
<hr>

<div class="row">
  <alert *ngFor="let alert of alerts;let i = index" [type]="alert.type" dismissible="true" (close)="closeAlert(i)">
    {{ alert?.msg }}
  </alert>
  <!--<alert dismissOnTimeout="3000">This alert will dismiss in 3s</alert>-->
</div>

<!--<button type="button" class='btn btn-primary' row (click)="addAlert()">Add Alert</button>-->
<div style="font-size: 20px">
  <blockquote>
    <p class="text-justified row">
      El objetivo es crear una herramienta informática para la postulación y sistematización de las propuestas de proyectos para
      postulación interna, acorde al proceso de postulación interna de proyectos INER.
    </p>
  </blockquote>
  <blockquote>
    <p class="text-justified row">
      Esta herramienta debe facilitar tanto el proceso de postulación como la consolidación de las propuestas para generar reportes
      finales de uso interno o externo.
    </p>
  </blockquote>
</div>